{% extends "main.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="None">
    <meta name="author" content="Paulo Lopez">

    <title>FSND - Vehicle Item Catalog</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h2>About</h2>
    <div>
        <br>
    </div>
    <div>
        <p>This is an About page for the FSND Item Catalog project. Don't I look good? Oh stop, you're making me blush. Have a great Day!!!
        </p>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</body>

</html>
{% endblock %}