{% extends "main.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Paulo Lopez">

    <title>FSND - Vehicle Item Catalog</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="row">
        <div class="categories column column-20">
            <div class="categories__list">
                <h2 class="list__header">
                    <span class="header__title">Categories</span>
                    <span class="header__bar"></span>
                </h2>
                <ul class="list__items">
                    {% for category in categories %}
                    <a href="{{url_for('showCategory', catalog_id = category.id )}}">
                        <li class="items__item">
                            <span class="item__name">{{category.name}}</span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="latest column column-35">
            <div class="latest__list">
                <h2 class="list__header">
                    <span class="header__title">Latest Items</span>
                    <span class="header__bar"></span>
                </h2>
                <ul class="list__items">
                    {% for categoryItem in categoryItems %}
                    <a href="{{url_for('showCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}">
                        <li class="items__item">
                            <span class="item__name">{{categoryItem.name}}</span>
                            <span class="item__type">({{categoryItem.category.name}})</span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>

                {% if 'username' in session %}
                <a href="{{url_for('addCategoryItem')}}" class="button u list__add">Add a New Vehicle Item</a> {% endif %}
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>

{% endblock %}