{% extends "main.html" %} {% block content %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Paulo Lopez">

    <title>FSND - Vehicle Item Catalog</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">


</head>

<body>
    <div class="row">
        <div class="category-item column">
            <h6 class="category-item__header">
                <fieldset>
                    <span class="header__title">Delete Vehicle</span>
            </h6>
            </fieldset>
            <fieldset>
                <form action="#" method="post">
                    <h5 class="category-item__message">Are you sure you want to delete {{categoryItem.name}}?</h5>
                    <div>
                        <br>
                    </div>
                    <a href="{{url_for('showCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}" class="button button-outline">Back Or </a>
                    <input type="submit" value="Delete">
                </form>
            </fieldset>
        </div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</body>

</html>

{% endblock %}